.blogcontainer h1{
   
        align-items: center;
        text-align: center;
        padding-top: 10px;
   
}


.bolgitem {
    padding: 0 26px;
}
.bolgitem p{
padding-bottom: 5px;
}

.bolgitem h2{

    padding-top: 20px;
}


.button1 {
    width: 123px;
    height: 44px;
    border: 20px;
    border-radius: 30px;
    background-color: rgb(177, 167, 155);
}

.button1:hover{
    background-color: rgb(83, 83, 177);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}