@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');
*{
    margin: 0;
    padding: 0;
}
.sidebar{
    position: absolute;
    background-color: rgb(241, 231, 231);
    /* width: 440px; */
    /* padding: 10px; */
    /* font-size: 20px; */
    height: 100vh;
    list-style: none;
    transition: transform 0.2s ease-in;
}

.sidebar nav{
    padding: 33px;
}
.sidebar nav li {
    
    list-style: none;
    padding: 20px 0;
    font-size: 25px;
  
}
p{
    font-size: medium;
}
.sidebar nav li a{
    
    text-decoration: none;
    color: rgb(10, 1, 1);
  
}
.main{
    /* background-color: yellow; */
    width: 100vw;
    padding: 10px;
    /* background-color: blueviolet; */
}
.container{
    font-family: 'Baloo Bhai 2', cursive;
   display: flex;
}
.info_container{
    /* background-color: rgb(167, 84, 84); */
    width: 80vw;
    height: 56vh;
    /* margin: 150px auto; */
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    background-color: rgb(181, 181, 199);
}
.devpic img{
    height: 56vh;
}
.devinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px ;
}
.hello{
    font-size: 30px;
    font-weight: bold;
}
.name{
    font-size: 25px;
}
.about{
    
    font-size: 20px;
}
.moreabout{
font-size: 10px;
margin-top: 10px;
margin-bottom: 20px;
}
.buttonss button{
    font-size: 25x;
padding: 10px 15px ;
border: 20px ;
color: white;
background-color: rgb(124, 184, 184);
font-weight: bold;
margin: 0 9px;
border-radius: 19px;
}
.buttonss button:hover{
    background-color: rgb(82, 82, 145);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
    
}
@media only screen and (max-width: 1500px) {
*{
    /* background-color: red; */
}
.sidebar{
    /* transform: translate(-455px,0); */
    position: absolute;
}
.devpic{
    display: none;
}
}
.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
.cross{
margin-left: 130px;
}
.sidebarcancle{
    transform: translate(-455px,0);
    position: absolute;
}
.noshrinksidebar{
margin-left: 10px ;
}
.shrinksidebar{
margin-left: 250px ;
}